.container {
    width: 100%;
    height: 100vh;
    font-size: 48px;
    text-align: center;
    display: inline;
    display: flex;
    
    flex-direction: column;
    background-size: cover;
    height:100vh;
  }

  img {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #time {
    font-size: 120px;
  }
  #data{
    color:lightslategray
  }
  #date{
    font-size: 30px;
  }
  .text_container {
    position: absolute;
    top: 30%;
    font-family: "Quicksand", sans-serif;
    left: 42%;
    color: white;
  }
  @media (max-width: 500px) {
    #time{
      font-size:49px;
    }
    img {
      width: 100%;
      filter: blur(5px);
-webkit-filter: blur(5px);
    }
   
    
    .container{
      font-size: 24px; 
      display: flex;
      justify-content: center;
      align-items: center;

    }

  }
  @media (max-width: 950px) {
    img{
      filter: blur(2px);
-webkit-filter: blur(5px);
    }
    .text_container {
      left:20%;
      }
  }
