*{padding: 0; margin: 0; box-sizing: border-box;}
html{
    width: 100%;
    height: 100vh;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    width:800px;
    height:500px;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin:150px auto;
    padding:20px;
    position: relative;
}
.score{
    width:100px;
    height:50px;
    background-color:rgba(29, 29, 234, 0.817);
    position:absolute;
    right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    color:white;
    border-radius:10px;
}
#correct{
    width:100px;
    height:50px;
    background-color: rgb(39, 204, 39);
    padding:15px;
    font-size:20px;
    position:absolute;
    left:330px;
    display:none;
}


#wrong{
    width:150px;
    height:50px;
    background-color: rgba(244, 16, 16, 0.968);
    padding:15px;
    font-size:20px;
    position:absolute;
    left:330px;
    display:none;
}

#questions{
    width:600px;
    height:150px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin:60px auto 10px auto;
    font-size:150px;
    text-align:center;
}
.instruction{
    width:600px;
    height:50px;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin:10px auto;
    text-align:center;
    line-height:50px;
    font-size:24px;
}
.choices{
    width:600px;
    height:150px;
    margin:10px auto;
}
.box{
    width:120px;
    height:120px;
    border:1px solid;
    float:left;
    margin-right:39px;
    background-color: white;
    text-align:center;
    line-height:110px;
    font-size:30px;
    border-bottom-left-radius: 10px;
    cursor:pointer;
}
#box4{
    margin-right:0px;
}
.box:hover{
    background: #cc2b5e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform:scale(1.1);
}
#start-reset-btn{
    border: 1px solid black;
    background-color: grey;
    width:120px;
    height:40px;
    padding:8px;
    margin:-10px auto 0 auto;
    font-size: 20px;
    cursor: pointer;
}
#start-reset-btn:hover{
    background-color:pink;
}
#countdown{
    width:220px;
    height:40px;
    background-color:rgb(22, 222, 22);
    padding: 10px;
    position: absolute;
    left:570px;
    top:450px;
    font-size: 20px;
    display:none;

}
#gameOver{
    width:500px;
    height:300px;background-image: linear-gradient(pink,black,lightblue);
    color:white;
    font-size: 50px;
    text-align: center;
    padding-top:120px;
    text-transform: uppercase;
    position:absolute;
    top:100px;
    left:150px;
    z-index: 1;
    display:none;

}
